table th{
	border-top: none;
}

table th#CELL1 {
	background-color:#E8EAF6;
	border-right: black;
}

table th#CELL2 {
	background-color:#3F51B5;
}

table th#CELL2 + th#CELL2 { 
	border-left: 2px solid #7986CB; 
}

/* centering of objects */
object {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* centering of images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* remove toc on the right by setting display: none */
.md-sidebar--secondary {
  display: true;
}

/* increasing page width */
.md-grid {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
  font-family: "opensans-bold";
  src: url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.eot?") format("eot"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff2") format("woff2"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff") format("woff"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.ttf") format("truetype"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.svg#opensans-bold") format("svg");
}